@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(background.jpg);
    font-family: 'Roboto', sans-serif;
}

.page {
    display: flex;
    flex-direction: row;
}

.content {
    display: inline-block;
    margin: 0 auto;
}

.cryla {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
}

.name {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
}

.poem {

    font-size: 20px;
    font-weight: 400;
}
img{
width: 735px;
}